<div style="margin-block-start: 6rem">
  <carousel [isAnimated]="true">
    <slide>
      <img alt="slide" src="assets/images/hero1.jpg">
    </slide>

    <slide>
      <img alt="slide" src="assets/images/hero2.jpg">
    </slide>

    <slide>
      <img alt="slide" src="assets/images/hero3.jpg">
    </slide>
  </carousel>
</div>

<section aria-labelledby="welcome" class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1 id="welcome">Welcome to the Shop!</h1>
  </div>
</section>
