.cart-no {
  position: absolute;
  inset-block-start: -0.75rem;
  inset-inline-end: 2rem;
  min-inline-size: 1.5rem;
  min-block-size: 1.5rem;
  border-radius: 50%;
  background: #346ce7;
  color: #ffffff;
  text-align: center;
}
